@import "lib/less/bootstrap.less";

#window {
  margin: auto;
  #panel {
    position: relative;
    button {
      .size(25%,100%);
      font-size: 1em; line-height: 1em; padding: 0;
    }
    #stats {
      div {
        border: 1px solid green; margin: 2px;
        background: greenyellow; color: blue;
      }
      span { color: red; font-weight: bold; }
    }
    #controls { button { position: absolute; } }
  }
}

#window.wide {
  #tiles { .size(100%,80%); float: left; }
  #panel {
    .size(100%,20%); float: left;
    & > div { .size(25%,100%); }
    #controls {
      button {
        .size(25%,100%);
        &#start-game { top: 50%; }
        &#end-game { top: 75%; }
      }
    }
  }
}

#window.narrow {
  #tiles { .size(80%,100%); }
  #panel {
    .size(20%,100%);
    & > div { .size(100%,25%); float: left; }
    #controls {
      button {
        .size(100%,25%);
        &#start-game { left: 50%; }
        &#end-game { left: 75%; }
      }
    }
  }
}
