@import "lib/bootstrap-2.3.2/less/bootstrap.less";

#window {
  margin: auto;
  #panel {
    button { font-size: 1em; line-height: 1em; }
    #stats {
      div {
        height: 28%; margin: 2%;
        border: 1px solid green; background: greenyellow; color: blue;
      }
    }
  }
}

#window.wide {
  & > * { float: left; }
  #tiles { .size(100%, 80%); }
  #panel {
    .size(100%, 20%);
    & > * { .size(23%, 92%); margin: 4%; }
  }
}

#window.narrow {
  #tiles { .size(80%, 100%); }
  #panel {
    .size(20%, 100%);
    & > * { .size(92%, 23%); margin: 1%; float: left; }
  }
}
